/* write your css here */
html, body {
    overflow-x: hidden;
}

.glass {
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.homepage_bg {
    background: url("../src//assets/Images/bghome.svg");
}